*{
    padding: 0;
    margin: 0;
    border:border-box;
}
.navbar{
    height: 80px;
    font-size: 1.8rem;
    background-color: #261132;
    color: white;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items: center;
}
.d{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}
.b{
    height: 60px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.b a{
    text-decoration: none;
    color: white;
}
.c:hover{
    border-radius: 5px;
    border: 2px solid white;
}
.body-box{
    height: 95vh;
   /* width: 100%;
     */
    background-color: #3e2f5b;
    display: grid;
    grid-template-columns: 50% 50%;
}
.left{
    background-color: #3e2f5b;
    display: flex;
    justify-content: center;
    align-items: center; 
    /* width: 50%; */
}
.pic{
    height: 67%;
    width: 40%;
    /* max-width: 100%;
    max-height: 100%; */
    background-image: url("pk.jpg");
    background-size: cover;
}
.right{
    background-color: #3e2f5b;
    display: flex;
    /* justify-content: center; */
    align-items: center; 
}
.my p{
    font-size: 4.5rem;
    font-weight: 800;
    color: white;
}